<div>

    <form method="post">

        <div>
            <input type="text" name="name" [(ngModel)]="name" placeholder="имя">
        </div>
       <div >

        <input type="text" name="address" [(ngModel)]="address" placeholder="адрес">
       </div>
       
        <div >
            <select name="selectedPurchase" id="" [(ngModel)]="selectedPurchase">
                <option *ngFor="let pur of purchase" [value]="pur">{{pur}}</option>
            </select>
        </div>
        
        <input  (click)="add()" type="text" type="submit" value="Добавить">
    </form>

</div>